<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script  type="text/javascript" src="http://localhost:3000/socket.io/socket.oi.js">
    </script>
    <title>real time chat</title>
</head>
<body> 
    <h1>real time chat</h1>    
    <div id = "messages-container"></div>  
    <form id = "sent-container">  
    <input type= "text" id = "messages-input">
    <button type="submit" id="sent-button">sent</button>
  </form>
    <script  type="text/javascript" src="js/chat.js"></script>

</body>
</html>