<div class="container">
    <div class="row">
        <div class="col">
            <h1>Create A New Item</h1>
            <form>
                <div class="form-group">
                    <label for="item-name">Item Name</label>
                    <input type="text" class="form-control" id="item-name"
                        placeholder="Enter a name for your item">
                </div>
                <div class="form-group">
                    <label for="item-description">Item Description</label>
                    <input type="text" class="form-control" id="item-description"
                        placeholder="Enter a description for your item">
                </div>
                <div class="form-group">
                    <label for="item-category">Item Category</label>
                    <select class="form-control" id="item-category">
                        <option>Antiques</option>
                        <option>Arts and Crafts</option>
                        <option>Audio</option>
                        <option>Auto Parts</option>
                        <option>Baby and Kids</option>
                        <option>Beauty and Health</option>
                        <option>Books and Magazines</option>
                        <option>Business</option>
                        <option>CDs and DVDs</option>
                        <option>Cell Phones</option>
                        <option>Clothing and Shoes</option>
                        <option>Collectibles</option>
                        <option>Computers</option>
                        <option>Electronics</option>
                        <option>Exercise</option>
                        <option>Farming</option>
                        <option>Furniture</option>
                        <option>Games and Toys</option>
                        <option>General</option>
                        <option>Home and Garden</option>
                        <option>Household</option>
                        <option>Jewelry</option>
                        <option>Music</option>
                        <option>Pets</option>
                        <option>Photography</option>
                        <option>Software</option>
                        <option>Sports and Outdoors</option>
                        <option>Tickets</option>
                        <option>Tools</option>
                        <option>Video Games</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="item-state">Item State</label>
                    <select class="form-control" id="item-state">
                        <option>New</option>
                        <option>Gently Used</option>
                        <option>Used</option>
                        <option>Worn</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="item-price">Item Price</label>
                    <input type="text" class="form-control" id="item-price"
                        placeholder="Enter a price for your item">
                </div>
                <div class="form-group">
                    <label for="item-photo">Item Photo URL</label>
                    <input type="text" class="form-control" id="item-photo"
                        placeholder="Enter a URL for the photo of your item">
                </div>
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>