<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Item</h5>
          <p><strong>ID</strong>: {{example.id}}</p>
          <p><strong>Text</strong>: {{example.text}}</p>
          <p><strong>Description:</strong> {{example.description}}</p>
          <img class="hoto" src={{example.photo_url}}>

          <div id="map" style="width: 320px; height: 480px;"></div>
          <div>
            <input id="address" type="textbox" value="seattle, WA">
            <input type="button" value="Encode" onclick="codeAddress()">
          </div>

          <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
          <p><a href="/chat">chat</a></p>

          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script async defer <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTbS7SNpGMxfTjkNT-8yiuRJ4S7QZ51K4&callback=initMap" async
  defer></script>
<script src="../js/maps.js"></script>


<html>