<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Item</h5>
          <p><strong>ID</strong>: {{example.id}}</p>
          <p><strong>Text</strong>: {{example.text}}</p>
          <p><strong>Description:</strong> {{example.description}}</p>
          <img class="photo" src={{example.photo_url}}>
          <div id="map" width="500px" height="700px" background="blue">google map
            <div id="infowindow-content">
                       <input id="pac-input" class="controls" type="text" placeholder="Enter a location">

              <span id="place-name" class="title"></span><br>
              <strong>Place ID:</strong> <span id="place-id"></span><br>
              <span id="place-address"></span>
            </div>
          </div>
         <input id="pac-input" class="controls" type="text" placeholder="Enter a location">

          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTbS7SNpGMxfTjkNT-8yiuRJ4S7QZ51K4&callback=initMap" async
  defer></script>
<script src="../js/maps.js"></script>

<html>