<div id="home">
  <div class="container-fluid" id="nav">
    <div class="row">
      <div class="col-4" id="link">
        <li><a href="/">Home</a></li>
        <li><a href="/post-item">Post an Item</a></li>
        <li><a href="/profiles">User Profiles</a></li>
      </div>
      <div class="col-4">
        <h4>{{title}}</h4>
      </div>
      <div class="col-4" id="link">
        <li><a href="/login">Login</a></li>
      </div>
    </div>
  </div>
</div>

<div class="container" id="sale-title">
  <div class="row">
    <h1>Items for Sale</h1>
  </div>

  <div class="row">
    <div id="item-list">
      <div id="items">
        <ul>
          {{#each Items}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-warning btn-sm float-right profile">Profile</button>
            <button class="btn btn-danger btn-sm float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>