<div id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        {{!-- <img class="icon" src="images/accossories.jpg" width="400px" height="200px">
        <span><img class="icon" src= "images/market.jpg" width="400px" height="200px" margin= "10px"></span> --}}
        <h1>Log In</h1>
        <form>
          <div class="form-group">
            <label for="user-email">Email address</label>
            <input type="email" class="form-control" id="user-email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="user-password">Password</label>
            <input type="password" class="form-control" id="user-password">
          </div>
          <button type="button" class="btn btn-primary btn-sm" text-align="center">Sign in</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h3>Don't have an account yet?</h3>
        <a class="btn btn-primary" href="/register" role="button">Register Here</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>