.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("../images/body.jpg"), url("../images/images.jpg");
  background-size: cover;
  opacity: 2.0;
}

h2 {
  text-align: center;
}
img {
  opacity: 0.8;
  background-blend-mode: lighten;
  backdrop-filter: blur(0.9);
  align-items: stretch;
}
.btn-outline-primary{
  margin-left: -22px;
}
.container{
  background-image: url("../images/download.jpg");

}