/* HOMEPAGE */

#home {
  height: 650px;
  background-image: url(../images/shop.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
}

#nav {
  padding: 20px;
  position: fixed;
  top: 0;
  color: #2E8B57;
  text-align: center;
  border-bottom: black;
  border-bottom-style: double;
  z-index: 2;
}

h4 {
  text-shadow: 0.5px 0.5px 1px black;
}

a {
  color: black;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
}

ul {
  padding: 10px 0;
}

.list-group-item {
  margin: 10px;
  height: 250px;
  width: 250px;
  display: inline-block;
}

.profile, .delete {
  margin: 0 5px;
}

#sale-title {
  position: absolute;
  top: 300px;
  right: 10px;
  text-align: center;
  color: gold;
  text-shadow: 0.5px 0.5px 1px black;
  z-index: 1;
}

#item-list {
  height: 500px;
  z-index: 1;
}